<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Render Test</title>
</head>
<body>
	<a href="/referer-second.html">跳转到第二个页面</a>
	<button id="href">href 跳转</button>
	<button id="replace">replace 跳转</button>
	<button id="back">返回</button>
	<p id="performance"></p>
	<p id="referer"></p>
	<script type="text/javascript">
		document.getElementById('performance').innerText = "type  " + performance.navigation.type;
		document.getElementById('referer').innerText = "referer  " + document.referrer;
		document.getElementById('href').addEventListener('click', function() {
			location.href="/referer-second.html";
		})
		document.getElementById('replace').addEventListener('click', function() {
			location.replace('/referer-second.html');
		})
		document.getElementById('back').addEventListener('click', function() {
			history.back();
		})
	</script>
</body>
</html>