<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>测试script阻塞</title>
	<script type="text/javascript">
		window.start = new Date();
	</script>
</head>
<body>
	<div id="container">
		<div id="first">
		页面渲染了
		</div>
		<div id="third">
		</div>
	</div>
	<script type="text/javascript" src="../js/nosec.js"></script>
	<script type="text/javascript" src="../js/first.js"></script>
	<script type="text/javascript" src="../js/second.js"></script>
	<script type="text/javascript" src="../js/third.js"></script>
	<script type="text/javascript" src="../js/fourth.js"></script>
	<script type="text/javascript" src="../js/fifth.js"></script>
	<script type="text/javascript" src="../js/six.js"></script>
	<script type="text/javascript" src="../js/seven.js"></script>
	<script type="text/javascript" src="../js/eight.js"></script>
	<script type="text/javascript" src="../js/nine.js"></script>
</body>
</html>