<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>测试video</title>
</head>
<body>
	<div id="container">
	<div>
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
	</div>
	<video preload="meta" width="320" height="240" controls>
		<source src="/fff/video.mp4" type="video/mp4">
		您的浏览器不支持 video 标签。
	</video>
	<div>
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
		谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad谁把岁月蹉跎，dasdad
	</div>
	</div>

	<script type="text/javascript">
		var video = document.getElementsByTagName('video')[0];
		console.log('秒数', video.duration);
		var timer, startTime, moveTime, lastPos = null;
		var flag = 0;  // 触发快进/快退标志
		var count = 0;
		var never = 0; // 一根手指以上触碰绝对不触发快进/快退
		video.addEventListener('touchstart', function(e) {
			console.log(e);
			console.log("touchstart");
			if (e.targetTouches.length > 1) {
				never = 1;
			}
		});
		video.addEventListener('touchend', function(e) {
			startTime = null;
			lastPos = null;
			count = 0;
			console.log(e);
			console.log("touchend");
		});
		video.addEventListener('touchmove', function(e) {
			if (never) {
				return;
			}
			if (!startTime) {
				startTime = new Date();
			}
			if (!lastPos) {
				lastPos = {
					x: e.changedTouches[0].clientX,
					y: e.changedTouches[0].clientY
				}
				return;
			}
			moveTime = new Date();
			var _time = moveTime - startTime;
			var _x = e.changedTouches[0].clientX - lastPos.x;
			var _y = e.changedTouches[0].clientY - lastPos.y;
			if (flag) {
				var _velocity = Math.sqrt(Math.pow(_x, 2) + Math.pow(_y, 2)) / _time * 1000;
				console.log("速度", _velocity);
			}
			if (!flag) {
				var _angle = Math.atan2(_y, _x) * 180 / Math.PI;
				if (_angle >= -30 || _angle <= 30) {
					++count;
				}
				if (count >= 5) {
					flag = 1;
				}
			}
		})
	</script>
</body>
</html>